@font-face {
  font: {
    family: 'Open Sans';
    display: optional;
  }
  src: url('OpenSans.ttf') format('truetype');
}

@font-face {
  font: {
    family: 'Montserrat';
    display: optional;
  }
  src: url('Montserrat.ttf') format('truetype');
}
