@use "../utilities/functions" as utilFun;

.main-nav {
  width: 100%;
  background-color: rgba(0, 0, 0, 0);
  position: absolute;
  z-index: 1;
  padding: {
    top: utilFun.pxToRem(10px);
    bottom: 0;
  }
  div {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  img {
    width: 131px;
    margin-right: 73px;
  }
  ul {
    width: 100%;
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 20px;
    a {
      text-decoration: none;
      color: #fff;
      transition: color 0.2s;
      &:hover {
        color: #f48720;
      }
    }
  }
  form {
    width: 400px;
    display: flex;
    justify-content: flex-end;
    gap: 15px;
    #searchQuery {
      color: #fff;
      background-color: rgba(0, 0, 0, 0.5);
      font-size: utilFun.pxToRem(25px);
      border: none;
      border-bottom: 3px solid #fff;
      opacity: 0;
      width: 0;
      transition: 0.5s linear;
      &:focus {
        outline: none;
      }
    }
    #searchBtn {
      cursor: pointer;
    }
  }
}
